.relatedproducts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
}
.relatedproducts h1{
    color: #171717;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
}
.relatedproducts hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}
.relatedproducts-item{
    margin-top: 50px;
    display: flex;
    gap: 20px;
}

@media (max-width: 998px) {
    .relatedproducts-item{
      display: grid;
      grid-template-columns: repeat(1, minmax(200px, 500px));
      grid-gap: 20px;
      justify-content: space-between;
      margin-left: 150px;
    }
  }